.form__input-text {
  max-width: 358px;
  min-height: 27px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

}

.form__input-text:focus-visible {
  outline-color: deepskyblue;
}

.form__input-text {
  margin-bottom: 30px;
}

.form__input-text:nth-child(2) {
  margin-bottom: 0;
}