.card__image {
  width: 282px;
  height: 282px;
  /*display: flex;
  justify-content: right;*/
  object-fit: cover;
  /*background-image: url(../../../images/Karachaevsk.jpg);*/
  position: relative;
}